PORT=18799
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_MIKE_USER_ID=6432405200
WEBHOOK_BASE_URL=http://204.168.149.236:18799
SMS_REPLIES_ENABLED=false
OUTLOOK_CLIENT_ID=
OUTLOOK_TENANT_ID=
OUTLOOK_REFRESH_TOKEN=
OUTLOOK_EMAIL_TO=mike@carsoncars.net
RECORDING_DIR=/root/carson-voicemail/data/recordings
